html, body {
    height: 100%;
    margin: 0em;
}

#pg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    font-family: "Rounded Mplus 1c";
    background-color: #ffffff;
    color: #333333;
}

@media screen and (max-device-width : 500px)
{
    #content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #words {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-img {
        width: 50%;
        margin-top: 5em;
    }

    #greeting {
        font-size: 2em;
        font-weight: bold;
        margin: 0em;
    }

    #infos {
        text-align: center;
    }

    .info {
        color: #333333;
        font-size: 1em;
        margin-left: 1em;
        margin-right: 1em;
        text-decoration: none;
        background-repeat: no-repeat;
        background-size: 100% 0.5em;
        background-position: 0 1.25em;
        display: inline-block;
    }

    .info-size {
        font-size: 1em;
    }

    .moxi-size {
        margin: 0em;
        font-size: 1em;
    }

    #links {
        
    }

    .link {
        margin-right: 0.5em;
        font-weight: 300;
        font-size: 0.75em;
    }

    .magic-underline {
        background-image: linear-gradient(to right, #125287, #128771 70%);
    }
}

@media screen and (min-device-width : 501px) and (max-device-width : 900px)
{
    #content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #words {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-img {
        width: 60%;
        margin-top: 5em;
    }

    #greeting {
        font-size: 3em;
        font-weight: bold;
        margin: 0em;
    }

    #infos {
        text-align: center;
    }

    .info {
        color: #333333;
        margin-left: 1em;
        margin-right: 1em;
        text-decoration: none;
        background-repeat: no-repeat;
        background-size: 100% 0.5em;
        background-position: 0 1.25em;
        display: inline-block;
    }

    .info-size {
        font-size: 1.5em;
    }

    .moxi-size {
        margin: 0em;
        font-size: 1em;
    }

    #links {
        
    }

    .link {
        margin-right: 0.5em;
        font-weight: 300;
        font-size: 1.25em;
    }

    .magic-underline {
        background-image: linear-gradient(to right, #125287, #128771 70%);
    }
}

@media screen and (min-device-width : 901px)
{
    .main-img {
        width: 15%;
        margin-right: 2em;
    }

    #content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #greeting {
        font-size: 3em;
        font-weight: bold;
        margin: 0em;
    }

    #infos {

    }

    .info {
        color: #333333;
        text-decoration: none;
        background-repeat: no-repeat;
        background-size: 100% 0.5em;
        background-position: 0 1.25em;
        display: inline-block;
    }

    .info-size {
        font-size: 1.5em;
    }

    .moxi-size {
        font-size: 1em;
    }

    #links {
        
    }

    .link {
        color: #333333;
        font-size: 1.25em;
        margin-right: 0.5em;
        font-weight: 300;
    }

    .magic-underline:hover {
        background-image: linear-gradient(to right, #125287, #128771 70%);
    }
}