html, body {
    height: 100%;
    margin: 0em;
}

#pg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    font-family: "Rounded Mplus 1c";
    background-color: #ffffff;
    color: #333333;
}

.main-img {
    width: 50em;
    margin-right: 2em;
}

.notfound-img {
    width: 15em;
    margin-right: 2em;
}

#content {
    width: 60em;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#greeting {
    font-size: 3em;
    font-weight: bold;
    margin: 0em;
}

#infos {
    margin-top: 0.25em;
}

.info {
    color: #333333;
    text-decoration: none;
    display: inline-block;
}

.info-size {
    font-size: 1.5em;
}

.link {
    font-size: 1.25em;
    font-weight: 300;
}

.hover1 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: .5rem 1.5rem;
}

.github:hover, .github:focus {
    color: #24292e;
}

.github:before, .github:after,
.github-label:before, .github-label:after {
    background-color: #24292e;
}

.linkedin:hover, .linkedin:focus {
    color: #0073b1;
}

.linkedin:before, .linkedin:after,
.linkedin-label:before, .linkedin-label:after {
    background-color: #0073b1;
}

.email:hover, .email:focus {
    color: #9D8DF1;
}

.email:before, .email:after,
.email-label:before, .email-label:after {
    background-color: #9D8DF1;
}

.resume:hover, .resume:focus {
    color: #115740;
}

.resume:before, .resume:after,
.resume-label:before, .resume-label:after {
    background-color: #115740;
}

.language:hover, .language:focus {
    color: #c61000;
}

.language-label:focus {
    color: none;
}

.language:before, .language:after,
.language-label:before, .language-label:after {
    background-color: #c61000;
}

.hover1:before, .hover1:after,
.hover1-label:before, .hover1-label:after {
    content: "";     
    position: absolute;   
    transition: transform .2s ease-out;
}

.hover1:before, .hover1:after {
    width: 100%;
    height: 0.1em;
    left: 0;
}

.hover1:focus {
    outline: none;
}

.hover1:before {
    top: 0;
    transform: translate3d(-105%, 0, 0);
}

.hover1:after {
    bottom: 0;
    transform: translate3d(105%, 0, 0);
}

.hover1-label:before,
.hover1-label:after {
    width: 2px;
    height: 100%;
    top: 0;
}

.hover1-label:before {
    left: 0;
    transform: translate3d(0%, -100%, 0);
}

.hover1-label:after {
    right: 0;
    transform: translate3d(0%, 100%, 0);
}

.hover1:hover:before, .hover1:focus:before,
.hover1:hover:after, .hover1:focus:after,
.hover1:hover .hover1-label:before, .hover1:focus .hover1-label:before,
.hover1:hover .hover1-label:after, .hover1:focus .hover1-label:after {
    transform: translate3d(0, 0, 0);
}

.underline {
    display: inline-block;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 1.25em;
}

.moxi {
    background-image: linear-gradient(to right, #377abc, #377abc 100%);
}

.functional {
    background-image: linear-gradient(to right, #5e5086, #5e5086 100%);
}

.duck {
    background-image: linear-gradient(to right, #edd209, #edd209 100%);
}

.moxi, .functional, .duck {
    font-size: 1em;
}

.magic-underline:hover {
    color: #ffffff;
    background-size: 100% 1.25em;
    background-position: 0 0.125em;
}

@media screen and (max-device-width : 900px)
{
    #content {
        width: 100%;
        flex-direction: column;
    }

    #greeting {
        display: block;
        text-align: center;
        font-size: 2em;
        margin-top: 1em;
    }

    #infos {
        display: table-cell;
        vertical-align: middle;
    }

    #info {
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
        margin-right: 1em;
        margin-left: 1em;
    }

    #links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main-img {
        width: 12em;
        margin-right: 0em;
        margin-top: 1em;
    }
    
    .notfound-img {
        width: 15em;
        margin-right: 0em;
        margin-top: 1em;
    }

    .info-size {
        font-size: 1.1em;
    }
    
    .moxi, .functional, .duck {
        font-size: 1em;
    }
    
    .link {
        font-size: 1em;
        font-weight: 300;
    }
}
